.CategoryCard {
    height: 150;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    padding: 15px;
    gap: 10px;
    cursor: pointer;
    transition: backgrouund 0.4s;
    -webkit-transition: backgrouund 0.4s;
    -moz-transition: backgrouund 0.4s;
    -ms-transition: backgrouund 0.4s;
    -o-transition: backgrouund 0.4s;
    .CategoryCard-image {
        height: 75px;
        width: auto;
        max-width: 100%;
        object-fit: contain;
        aspect-ratio: 1/1;
    }
    .CategoryCard-text {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 19px;
        letter-spacing: -0.035em;
        color: #757575;
        text-transform: uppercase;
    }
    &:hover {
        background: #FBF9F3;
    }
}