.Header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 150px;
    background: #ffffff;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 200;
}

.Header-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 25px;
}

.Header-menu-list {
    display: flex;
    list-style: none;
    gap: 1.5em;
}

.Header-menu-item {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    letter-spacing: -0.035em;
    color: #697391;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    position: relative;
}

.Header-menu-item::after {
    content: '';
    display: block;
    height: 2px;
    width: 0;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    background: #697391;
    box-shadow: 0 0 5px #00000025;
    position: absolute;
    bottom: -5px;
    transition: width 0.3s;
    -webkit-transition: width 0.3s;
    -moz-transition: width 0.3s;
    -ms-transition: width 0.3s;
    -o-transition: width 0.3s;
}

.Header-menu-item:hover::after {
    width: 100%;
}

.Header-button-place {
    display: flex;
    gap: 1.5em;
    align-items: center;
    justify-content: center;
}

.Header-button {
    height: 22px;
    width: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.Header-button-icon {
    height: 100%;
    width: 100%;
    object-fit: contain;
}