.DealCard {
    background: #ffffff;
    height: 87px;
    width: 87px;
    overflow: hidden;
    border: 1px solid #0000003e;
    display: flex;
    align-items: center;
    justify-content: center;
}

.DealCard-img {
    height: 80%;
    aspect-ratio: 1/1;
    object-fit: contain;
}

@media screen and (max-width:950px) {
    .DealCard-img {
        height: 90%;
    }
    .DealCard {
        height: 45px;
        width: 45px;
    }
}